body {
    background-image: url("../AE_People_Quiz/images/Library_of_Alexandria_Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display:flex;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw; /* Set the width to 100% of the viewport width */
    flex-direction: column;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

header {
    background-image: url('../AE_People_Quiz/images/beige_marmor.png');
    background-repeat: repeat;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid white; /* Fügt einen weißen Rand hinzu */
    position: relative; /* Erlaubt es, das Logo relativ zum nächstgelegenen positionierten Vorfahren zu positionieren (anstatt relativ zum Viewport) */
}

main{

    flex-grow:1;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    padding: 0 1vw; /* 0 top and bottom padding, 1vw left and right padding */

}

.person {
    margin-right: 1vw;
}

nav{
    height: 4vh; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #6d2d2d; /* Farbe ändern bei Hover */
}



#image-container{
    flex-wrap: wrap; /* Erlaubt den Bildern, in die nächste Zeile zu rücken, wenn der Platz nicht ausreicht */
    display: flex;
    justify-content: center;
    align-items: center;
}

img{  
    /* Set the maximum height to 80% of the viewport height */
    width: auto;      /* This will maintain the aspect ratio of the image */
    height: auto;     /* This will maintain the aspect ratio of the image */
   /* This will ensure that the entire image is visible */
    max-width: 45vw;  /* Set the maximum width to 80% of the viewport width */
    max-height: 45vh;
    
    margin-left: 4vw;
    margin-right: 4vw;

}

.person {
    
    background-image: url('../AE_People_Quiz/images/baroque_frame.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: block;

}

.person p {

    
    border: 2px solid white; /* Adjust as needed */
    background-color: white;
    height: 50%;
    width: 50%;
    max-width: 30vw; /* Adjust as needed */
    max-height: 30vh;
    border-radius: 10px; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
    display:block;
    text-align: center;
    
}

.logo {

        position: absolute;
        top: 0;
        left: 0;
        margin-right: 20px; /* Platz zwischen Logo und Menüelementen */

}

.logo img {
    max-width: 100%; /* Das Logo wird sich je nach Bildschirmgröße anpassen */
    margin-top: 0px; /* Platz zwischen Logo und Menüelementen */
    height: auto; /* Behält das Seitenverhältnis des Logos bei */
    width: 50px; /* Setze die Breite des Logos für kleinere Bildschirme */
    margin-right: 20px; /* Platz zwischen Logo und Menüelementen */
    background-image: none;
}

#category-select {
    width: 120px; /* Setzen Sie die Breite auf die gewünschte Breite des Buttons */
    height: 25px;
    border-radius: 10px; /* Fügt abgerundete Ecken hinzu */
    position: absolute; /* Erlaubt es, das Menü relativ zum nächstgelegenen positionierten Vorfahren zu positionieren (anstatt relativ zum Viewport) */
    top: 100px; /* Positioniert das Menü direkt unter der Navigationsleiste */
    left: 20px; /* Positioniert das Menü am linken Rand des Bildschirms */
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    background-image: url('../AE_People_Quiz/images/beige_marmor.png');
    background-repeat: repeat;
    color: #fff;
    height: 1vh;
    border-top: 1px solid white; /* Fügt einen weißen Rand hinzu */
    background-repeat: repeat;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid white; /* Fügt einen weißen Rand hinzu */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}
