<IfModule mod_rewrite.c>
    RewriteEngine On


   
    RewriteRule ^$ ./index.html [L]
    RewriteRule ^quiz$ ./AE_Quiz/index.html [L]
    RewriteRule ^dictionary$ ./AE_Dictionary/index.html [L]
    RewriteRule ^favoriten$ ./AE_Favoriten/index.html [L]
    RewriteRule ^quotes$ ./AE_Quotes/index.html [L]
    RewriteRule ^typing$ ./AE_Typing/index.html [L]
    RewriteRule ^wordcounter$ ./AE_Wordcounter/index.html [L]
    RewriteRule ^login$ ./AE_Login/index.html [L]

</IfModule>
