body {
    background-image: url("images/Library_of_Alexandria_Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw; /* Set the width to 100% of the viewport width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
#text_input{

    width: 50%; /* Set the width of the search box */
    padding: 10px; /* Add some padding inside the search box */
    font-size: 16px; /* Set the font size */
    border: 1px solid #ddd; /* Add a border */
    border-radius: 20px; /* Make the corners rounded */

}


body {
    background-image: url("images/Library_of_Alexandria_Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw; /* Set the width to 100% of the viewport width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

header {
    background-color: #f1dcc9;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #6d2d2d; /* Farbe ändern bei Hover */
}
.logo {
    float: left; /* Damit das Logo links steht */
    margin-right: 20px; /* Platz zwischen Logo und Menüelementen */
}

.logo img {
    max-width: 100%; /* Das Logo wird sich je nach Bildschirmgröße anpassen */
    height: auto; /* Behält das Seitenverhältnis des Logos bei */
    width: 50px; /* Setze die Breite des Logos für kleinere Bildschirme */
    margin-right: 20px; /* Platz zwischen Logo und Menüelementen */
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: 80vh; /* Adjust this value as needed */
    width: 100vw;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh; /* Adjust this value as needed */
}

#highscore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; /* Light grey background */
    color: #333; /* Dark grey text */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle shadow */
    margin-bottom: 2vh; /* Some space between the highscore and the image */
    font-size: 1.5em; /* Larger text */
    width: 50vw; /* Set the width to 50% of the viewport width */
    margin: 0 auto; /* This will center the highscore container */
}